body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  color: #333; }

#wrapper {
  max-width: 1920px;
  margin: auto; }

button:focus,
input:focus {
  outline: none; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
.owl-theme .owl-dots .owl-dot span {
  background: #fff; }

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px; }

.tt--ul,
.tt-ol {
  list-style: none;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a:hover {
  text-decoration: none;
  color: #333; }

img {
  max-width: 100%; }

.tt-Title-Section {
  font-size: 40px;
  font-weight: bold;
  color: #58ad31;
  text-align: center;
  margin-bottom: 30px; }

.tt-Heading-Title {
  font-size: 22px;
  font-weight: 600;
  color: #58ad31;
  border-bottom: 2px solid #58ad31;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: inline-block; }

#tt_Header {
  padding: 5px 0; }
  #tt_Header .Header_block--logo {
    line-height: 0; }
  #tt_Header .Header_block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #tt_Header .Header_block--brand {
    width: 70%; }
    #tt_Header .Header_block--brand .block--brand-list ul li {
      padding: 0 10px 10px; }
      #tt_Header .Header_block--brand .block--brand-list ul li img {
        max-width: 200px;
        background: #fff;
        box-shadow: 0px 5px 8px -8px black;
        padding: 10px 20px; }

#tt--Menutop {
  height: 55px;
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f); }

#tt_Slidehome .owl-slidehome img {
  width: 100%; }

#tt_product-Hot {
  padding: 5% 0; }
  #tt_product-Hot .owl-productHome .owl-nav {
    display: flex;
    justify-content: space-between; }
    #tt_product-Hot .owl-productHome .owl-nav svg {
      width: 15px; }
    #tt_product-Hot .owl-productHome .owl-nav button:hover {
      background: none;
      color: #56ab2f; }
  #tt_product-Hot .product-thumnail {
    position: relative;
    overflow: hidden; }
    #tt_product-Hot .product-thumnail .hover--product {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: #6b6b6ba3;
      transition: all 300ms ease 0s;
      padding: 20px; }
      #tt_product-Hot .product-thumnail .hover--product span {
        font-size: 16px;
        display: block;
        padding: 10px 0;
        margin: 40px 20px 20px 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -10px 0 rgba(255, 255, 255, 0.3); }
      #tt_product-Hot .product-thumnail .hover--product .description {
        padding: 0;
        margin: 10px 20px 10px 20px;
        color: #fff;
        height: 80px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    #tt_product-Hot .product-thumnail:hover .hover--product {
      top: 0; }
    #tt_product-Hot .product-thumnail .reponsive-img {
      position: relative;
      height: auto !important;
      width: 100%;
      padding-top: 70%;
      overflow: hidden; }
      #tt_product-Hot .product-thumnail .reponsive-img img {
        object-fit: cover;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }

#tt_aboutHome {
  padding: 5% 0;
  background: #f3f3f3; }
  #tt_aboutHome .description-abouthome {
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    width: 80%;
    margin: 0 auto; }
    #tt_aboutHome .description-abouthome .btn {
      background: #58ad31;
      color: #fff;
      padding: 10px 30px;
      margin-top: 21px; }

#tt_newHome {
  padding: 5% 0; }
  #tt_newHome .list-new li {
    display: flex;
    justify-content: center;
    align-items: center; }
    #tt_newHome .list-new li:nth-child(2n) .col.colnew1 {
      order: 2; }
    #tt_newHome .list-new li:nth-child(2n) .col.colnew2 {
      order: 1; }
  #tt_newHome .list-new .col {
    width: 50%; }
    #tt_newHome .list-new .col.colnew1 {
      order: 1; }
    #tt_newHome .list-new .col.colnew2 {
      order: 2; }
  #tt_newHome .list-new .block-colum--title .title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px; }
  #tt_newHome .list-new .block-colum--title .descript {
    font-size: 16px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 125px; }
  #tt_newHome .list-new .block-colum--title .click-showmore {
    font-size: 16px;
    margin: 20px 0;
    display: inline-block;
    color: #000;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 4px solid #000; }
    #tt_newHome .list-new .block-colum--title .click-showmore:hover {
      color: #56ab2f;
      border-color: #56ab2f; }
  #tt_newHome .list-new .hm-responsive {
    position: relative;
    height: auto !important;
    width: 100%;
    padding-top: 66%;
    overflow: hidden; }
    #tt_newHome .list-new .hm-responsive img {
      object-fit: cover;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }

#tt_libraryHome .list-libaryHome li {
  margin-bottom: 30px; }

#tt--footer {
  background: url(../images/123.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  margin-top: 50px;
  border-top: 5px solid #6bb91c;
  position: relative;
  overflow: hidden;
  padding: 30px 0; }
  #tt--footer::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #06060699;
    content: ""; }
  #tt--footer .block-footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }
    #tt--footer .block-footer .title-adr {
      display: block; }
  #tt--footer .tt-address-footer * {
    color: #fff; }
  #tt--footer .block-all-address {
    background: #ffffff21;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px; }
  #tt--footer .coppy--right {
    padding: 5px;
    text-align: center; }
  #tt--footer .img-contact-footer img {
    margin-bottom: 10px;
    border-radius: 10px; }
  #tt--footer .img-contact-footer.col-ft-2 {
    text-align: right; }

/*# sourceMappingURL=style.css.map */
