@import 'theme.scss';

#tt_Header {
    padding: 5px 0;

    .Header_block--logo {
        line-height: 0;
    }

    .Header_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Header_block--brand {
        width: 70%;

        .block--brand-list {
            ul {
                li {
                    padding: 0 10px 10px;

                    img {
                        height: 60px;
                        background: #fff;
                        box-shadow: 0px 5px 8px -8px black;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
}

#tt--Menutop {
    height: 55px;
    background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f);
}

#tt_Slidehome {
    .owl-slidehome {
        img {
            width: 100%;
        }
    }
}

#tt_product-Hot {
    padding: 5% 0;

    .owl-productHome {
        .owl-nav {
            display: flex;
            justify-content: space-between;

            svg {
                width: 15px;
            }

            button {
                &:hover {
                    background: none;
                    color: #56ab2f;
                }
            }
        }
    }

    .product-thumnail {
        position: relative;
        overflow: hidden;

        .hover--product {
            position: absolute;
            width: 100%;
            height: 100%;
            top: -100%;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: #6b6b6ba3;
            transition: all 300ms ease 0s;
            padding: 20px;

            span {
                font-size: 16px;
                display: block;
                padding: 10px 0;
                margin: 40px 20px 20px 20px;
                text-transform: uppercase;
                font-weight: 600;
                color: rgba(255, 255, 255, 0.9);
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -10px 0 rgba(255, 255, 255, 0.3);
            }

            .description {
                padding: 0;
                margin: 10px 20px 10px 20px;
                color: #fff;
                height: 80px;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        &:hover {
            .hover--product {
                top: 0;
            }
        }

        .reponsive-img {
            position: relative;
            height: auto !important;
            width: 100%;
            padding-top: 70%;
            overflow: hidden;

            img {
                object-fit: cover;
                margin: auto;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}

#tt_aboutHome {
    padding: 5% 0;
    background: #f3f3f3;

    .description-abouthome {
        text-align: center;
        line-height: 1.6;
        font-size: 16px;
        color: #333;
        width: 80%;
        margin: 0 auto;

        .btn {
            background: #58ad31;
            color: #fff;
            padding: 10px 30px;
            margin-top: 21px;
        }
    }
}

#tt_newHome {
    padding: 5% 0;

    .list-new {
        li {
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2n) {
                .col {
                    &.colnew1 {
                        order: 2;
                    }

                    &.colnew2 {
                        order: 1;
                    }
                }
            }
        }

        .col {
            width: 50%;

            &.colnew1 {
                order: 1;
            }

            &.colnew2 {
                order: 2;
            }
        }

        .block-colum--title {
            .title {
                font-size: 26px;
                font-weight: bold;
                margin-bottom: 30px;
            }

            .descript {
                font-size: 16px;
                line-height: 1.6;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: 125px;
            }

            .click-showmore {
                font-size: 16px;
                margin: 20px 0;
                display: inline-block;
                color: #000;
                font-weight: 600;
                padding-bottom: 5px;
                border-bottom: 4px solid #000;

                &:hover {
                    color: #56ab2f;
                    border-color: #56ab2f;
                }
            }
        }

        .hm-responsive {
            position: relative;
            height: auto !important;
            width: 100%;
            padding-top: 66%;
            overflow: hidden;

            img {
                object-fit: cover;
                margin: auto;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}

#tt_libraryHome {
    .list-libaryHome {
        li {
            margin-bottom: 30px;
        }
    }
}

#tt--footer {
    background: url(../images/123.jpg);
    // min-height: 390px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    margin-top: 50px;
    border-top: 5px solid #6bb91c;
    position: relative;
    overflow: hidden;
    padding: 30px 0;

    &::before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #06060699;
        content: "";
    }

    .block-footer {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 100%;

        .title-adr {
            display: block;
        }
    }

    .tt-address-footer {
        * {
            color: #fff;
        }
    }

    .block-all-address {
        background: #ffffff21;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 10px;
    }

    .coppy--right {
        padding: 5px;
        text-align: center;
    }

    .img-contact-footer {
        img {
            margin-bottom: 10px;
            border-radius: 10px;
        }

        &.col-ft-2 {
            text-align: right;
        }
    }

}